.chat-box {
  .emoji {
    position: relative;
    background: #1a1a1a;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    box-sizing: border-box;
  }

  .emoji-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    margin-right: 0.5rem;
    padding: 0;
  }

  .text-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: #fff;
    background: none;
  }

  .emoji-picker {
    position: absolute;
    bottom: 100%;
    right: 0;
  }
}
