button.create-chat {
  background-color: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 0 10px;
  &:hover {
    background-color: #fff;
    color: #1e1e1e;
  }
}
